// Color
$color-white-1: #f8f9fa;
$color-green-1: #198754;
$color-white-basic: #fff;
$color-dark-1: #656774;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-blue-1: #1d365e;
$color-blue-2: #2a73dd;
$color-blue-3: #c9d8f4;
$color-yellow-1: #f9d412;
$color-active: rgb(177, 177, 177);
$color-pink: pink;
$color-pink-1: rgb(255, 135, 155);
$color-pink-2: rgb(255, 220, 226);

//FONT SIZE
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;

//FONT WEIGHT
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;
